<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>
   <%= @user.firstname  %> Just ranted about
  <%= @user.rants.last.about %>

</h1>
</body>
</html>