
<div class="user">
  <br>
  <%= User.find(params[:id]).firstname %> <%= User.find(params[:id]).lastname %>
  <h1 style="position: relative; left: 2.6em"></h1>
  <%= image_tag current_user.url %>
  <ul>

  </ul>
</div>

