<%= link_to 'Join', new_registration_path %>

<div class="homepage"><h1>Rantly</h1>
  <p class="quote">Let it all out</p></div>
<div class="rant">

<% @rant.each do |rant| %>
  <%= rant %>
<% end %>
</div>