/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: "Comic Sans MS"

}

.rants_quote {
  padding-bottom: 3em;
  font-size: 125%;
}

aside.logo {
  font-size: 150%;
  flex: 0 0 10rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
  border-right: 1px solid green;
}

 header {
  background-color: #404040;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 80px;
}

.header-nav {
    flex: 0 0 15rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  button {
    color: white;
  }

 .green {
    padding: .5rem 3rem;
    font-size: 1.25rem;
    background-color: green;
    border: 2px solid black;
    color: white;
    text-decoration: none;
 }


.errors {
  color: maroon;
  margin-bottom: 1em;
}

 .homepage {
  text-align: center;
  font-size: 200%;
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  background: white;
}

.join {
  color: white;
  padding-top: 1.5em;
  padding-right: 1em;
}

 .quote {
  font-size: 55%;
  padding-right: .5em;
 }

 img {
   height: 200px;
   float: left;
   padding-right: 1em;
 }

.rant_homepage {
  background-color: grey;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  align-items: center;
  color: white;
  padding-bottom: 9em;
}

.rant {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  text-align: left;
}


li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a.button {
  color: white;
  text-decoration: underline;
  padding-right: 1em;
}

.registration {
  padding-top: 2em;
  border: 2px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-right: .02em;
}

.register_button {
  background-color: green;
  color: white;
  width: 75%;
  height: 2em;
  font-family: "Comic Sans MS";
  font-size: 100%;
  flex: 0 0 10rem;
}

.notice {
  color: green;
}

.grey {
  background-color: grey;
}


.textbox {
  height: 10em;
  width: 40em;
}

.userlink {
  color: black
}

a.delete {
  color: blue;
  text-decoration: underline;
}

.bigger_green {
    padding: .5rem 3rem;
    font-size: 1.25rem;
    background-color: green;
    color: white;
    text-decoration: none;
    width: 12em
}
